:root {
    --brand-color: #212121;
    --item-color: #2196f3;
    --link-color: #757575;
    --second-background: #f5f4fa;
    --third-background: #2f303a;
}

body {
    font-size: 14px;
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
}

.container {
    width: 1170px;
    margin: auto;
}

ul {
    padding: 0;
    margin: 0;
}

.highlight {
  position: absolute;
  top: 47px;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  z-index: -1;
}


nav {
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    flex-grow: 3;
}

.nav-icon {
    vertical-align: middle;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    display: inline;
}


.menu .menu-item,
.contact-header .menu-item {
    margin: 0px 23px;
    display: block;
    color: var(--brand-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.contact-header {

    color: #757575;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

.menu {
    list-style: none;
    border-radius: 4px;
    background-color: #ffffff;
    display: flex;
}


.menu .liitem {
    color: var(--brand-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
}

.menu.liitem:not(:last-child) {
    margin-right: 10px;

}

.header-boxin .container {
    display: flex;
    flex-direction: row;
}


.footer-box .container {
    display: flex;
    flex-direction: row;
}

.header-boxin {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ECECEC;
}

main {
    flex-grow: 3;
}

.main-box {
    bottom: 94px;
    top: 94px;
}

.main-box ul {
    padding-top: 94px;
    list-style-type: none;
    width: auto;
    flex-direction: row;
    display: flex;
    justify-content: space-around;  
}

.lorem ul {
    list-style: none;
}

.lorem h2 {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color:#212121;
}

.lorem p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03px;
    color: #757575;
}

.wwd {
    padding-top: 94px;
    padding-bottom: 50px;
    bottom: 94px;
    font-size: 36px;
    color: #212121;
    text-align: center;
}

.wwdp {
    align-content: space-between 30px;
    height: 386px;
}

.wwdp ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.wwdp li {
    position: relative;
}

.wwdp li img {
    display: block;
}


.wwdimg {
    display: flex;
    margin: 0;
}

.wwdimg h1 {
    margin: 0;
    width: 370px;
    height: 70px;
    position: absolute;
    bottom: 0;
    display:flex;
    border: 0px solid;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
}

.team-background {
    background: #F5F4FA;
}

.team-background li:hover,
.team-background li:focus {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.team {
    padding-top: 94px;
    padding-bottom: 50px;
    position: center;
    height: 42px;    
    font-size: 36px;
    color: #212121;
    text-align: center;
}


.team li {
    width: 270px;
}

.teamp li figure {
    padding: 0;
    margin: 0;
}


.teamp ul {
    justify-content: space-between;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    flex-direction: row;
    display: flex;
    padding-bottom: 90px;
}


.team-social {
    justify-content: space-evenly;
    display: flex;
}

.team-social a:link {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-social a:focus,
.team-social a:hover {
    background-color: #2196f3;
    border-radius: 20px;
}

.team-social a:focus svg,
.team-social a:hover svg {
    fill: #ffffff;
}

.team-social svg{
    fill: #afb1bb;
    left: 0.04px;
    width: 20px;
    height: 20px;
}


.ourclients {
    display: block;
    justify-content: center;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}


.clients .container{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-icon {
    display: flex;
    justify-content: space-between;
    fill: #afb1bb;
}

.clients-icon svg {
    display: inline;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    --color1: #AFB1B8:
}

.clients-icon a:link {
    justify-content: center;
    align-items: center;
    display: flex;
}

.clients-icon a:focus,
.clients-icon a:hover {
    border: 1px solid #2196f3;
    border-radius: 4px;
}

.clients-icon a:focus svg,
.clients-icon a:hover svg {
    border: 1px solid #2196F3;
    fill: #2196f3;
}

.jointous {
    padding-left: 70px;
    display: block;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.jointonews {
    display: inline;
    padding-left: 70px;
}

.send {
    padding-left: 520px;
    bottom: 40px;
    z-index: 1;
    display: block;
    position: relative;
    fill: #FFFFFF;    
}

.jointonews h1 {
    font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding-bottom: 20px;
        margin: 0;
}

.jointonews input[type="text"] {
    display: inline;
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(47, 48, 58, 1);
    border: 1px solid rgba (255, 255, 255, 0.3);
}

.jointonews input[type="submit"] {
    padding-right: 50px;
    z-index: 2;
    margin-left: 12px;
    padding-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: inline;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    color: rgba(255, 255, 255, 1);
}


.joinsocial {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    fill: #afb1bb;
    }

.joinsocial a:link {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 22px;
}

.joinsocial svg {
    fill: #ffffff;
    left: 0.04px;
    width: 20px;
    height: 20px;
}

.joinsocial a:focus,
.joinsocial a:hover {
    background: #2196F3;
    border-radius: 22px;
    fill: #2196f3;
}

.joinsocial a:focus svg,
.joinsocial a:hover svg {
    fill: #FFFFFF;
}



.boxunderphoto figcaption {
    padding-top: 30px;
}


.boxunderphoto{
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-direction: row;
    display: flex;
    padding-bottom: 30px;
}

h3 span {
    padding: 30px;
    font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}

h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}

a:link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    color: #2196F3;
    text-decoration: underline solid;
}


a:hover {
    color: #2196F3;
    text-decoration: underline solid #2196F3;

}

.feature-icon {
    justify-content: space-evenly;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #f5f4f4;
    border-radius: 4px;
    display: flex;
    margin-bottom: 30px;
}

.feature-icon svg {
    width: 70px;
    height: 70px;
    display: block;
}


.footer-box {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
    letter-spacing: 0.03em;
    color: #FFFFFF;
    height: 252px;
    background-color: #2f303a;
    padding-top: 60px;
    margin: auto;
}

.effect {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/background.svg');
    padding-top: 200px;
    padding-bottom: 200px;
    align-items: center;
    top: 80px;
    left: 0px;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

button {
    text-align: center;
    margin: auto;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    background-color: #2196f3;
    color: #ffffff;
}

header .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 93px;    
    align-items: center;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--item-color);
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 93px;
    align-items: center;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--item-color);
}
.logo-color {
    color: var(--brand-color);
}

.footer-box .logo-color {
    color: #FFFFFF;
}

.footer-boxpf .logo-color {
    color: #FFFFFF;
}

a.menu-liitem {
    color: var(--brand-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}


.menu .menu-item, .contact-header .menu-item, li.active .menu-item {
    margin: 0px 23px;
    display: block;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

a.menu-item:focus, a.menu-item:hover,
li.active a {
    text-decoration: underline solid #2196F3;
    text-underline-offset: 35px;
    text-decoration-thickness: 4px;
}


.menu-item::after {
    content: '';
    position: absolute;
    width: 58px;
    height: 4px;
    bottom: 32px;
    top: 78px;
    border-radius: 2px;
    display: block;
}

a.menu-item:focus,
a.menu-item:hover {
    text-decoration: underline solid #2196F3;
    text-underline-offset: 35px;
    text-decoration-thickness: 4px;
}

.portfolio-item {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    padding-bottom: 30px;
}

.portfolio-item .container {
    align-items: baseline;
    position: absolute;
    display: flex;
    font-size: 16px;
    font-weight: 400;
}

.portfolio-item figure {
    text-align: left;
    line-height: 19px;
    display: contents;
    padding-bottom: 30px;
}

.portfolio-title {
    padding: 0 24px;
    display: flex;
    justify-content: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.06em;
}

.portfolio-item span {
    padding: 0 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #757575;
}

.portfolio-item:hover div.cta ,
.portfolio-item:focus div.cta {
    display: flex;
    background-color: rgba(33, 150, 243, 0.9);
    height: 294px;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    animation-duration: 250ms;
}


.portfolio-info {
       display: block;
       margin: 0;
}

.pinfo .cta {
    display: table-cell;
        vertical-align: middle;
}


.portfolio-item div.cta {
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    display: none;
    color: #ffffff;
}

.cta {
    display: flex;
    text-align: left;
    padding: 0 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    align-items: center;
    animation-name: open;
}

@-webkit-keyframes open {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

@keyframes open {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}


.pi li {
    margin-top: 30px;
    list-style-type: none;
}

.pi ul {
    align-content: space-between;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}

.filters {
    padding-top: 100px;
    padding-bottom: 56px;
    display: flex;
    justify-content: center;
}

.filter-single {
    background-color: var(--second-background);
    border: none;
    width: auto;
    color: black;
    padding: 6px 22px;
    text-align: center;
    text-decoration: var(--text-decoration);
    display: block;
    border-radius: 4px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.portfolio-item:focus,
.portfolio-item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.filter-single:focus,
.filter-single:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
        -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    text-decoration: underline #2196F3;
    color: #ffffff;
    background-color: #2196f3;
    border-radius: 6px;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: #fff;
}

.close-btn {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    color: #212121;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%) translateY(-50%) scale(0) rotate(0deg)
    skew(40deg, 40deg);
}

.modal {
    padding: 30px;
}

.modal h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 12px;
}

.modal input[type=text], select {
  width: 448px;
  padding: 12px 20px;
  margin: 10px 0;
  display: flex;
}

.modal input[type=submit] {
  display: inline;
  width: 200px;
  margin: 8px 164px;
}
 
.leavecomment  {
    border: 1px solid #ccc;
    padding: 12px 16px;
    margin: 10px 2px;
    width: 448px;
    position: relative;
    text-align: left;
    height: 120px;
    resize: none;
    color: rgba(117, 117, 117, 0.5)
}

.modal input[type=submit]:hover {
  background-color: #2196F3;
}

.modal textarea:focus, input:focus {
    outline: 1px solid rgba(33, 150, 243, 1);
}

input.test {
    background: url(/images/icons.svg#icon-facebook);
    box-sizing: border-box;
    color: #2196F3;
    fill: #2196f3;
}

/** GLOBALNE STYLE DLA CAŁEJ STRONY */

input[type=submit] {
    display: inline;
    background-color: #2196F3;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text],
select {
    padding: 12px 20px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}